
# dependencies
*/node_modules

# IDEs and editors
/.idea
*/.idea
*/mancala-service.iml
*/.browserslistrc
*/*.xml

*/HELP.md
*/.gradle
*/build/
*/!gradle/wrapper/gradle-wrapper.jar
*/!**/src/main/**/build/
*/!**/src/test/**/build/



